//local
FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=DirtyLittleSecret
MONGODB_URI=mongodb://localhost/restaurant-list
PORT=3000

//remote
FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK= <remote web-app server uri>/auth/facebook/callback
SESSION_SECRET=DirtyLittleSecret
MONGODB_URI=mongodb: <remote database uri>