<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fav Restaurants</title>
  
  <link rel="shortcut icon" href="/asset/favicon.svg" type="image/x-icon">
  
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
  {{!-- font awesome - old ver --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  {{!-- bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {{!-- customize --}}
  <link rel="stylesheet" href="/static/stylesheets/style.css">

</head>
<body>
  <nav class="navbar">
    <h4 class="nav-logo mt-2 mb-2">
      {{#if isAuthenticated}}{{user.name}}'s&nbsp;{{/if}}
      Todo
    </h4>
  <div class="row justify-content-center">
    <a href="./todos/new">
      <div type="button" class="btn btn-outline-danger mt-2 ml-3">Create New Todo</div>
    </a>

    {{#if isAuthenticated}}
    <div class="btn mt-2 ml-3"><a href="/users/logout">Logout</a></div>
    {{else}}
    <a href="/users/register">
      <div type="button" class="btn btn-outline-primary mt-2 ml-3">Register</div>
    </a>
    <div class="btn mt-2 ml-3"><a href="/users/login">Login</a></div>
    {{/if}}
  </div>

  </nav>
  <main>
    {{{body}}}
  </main>
  <footer></footer>
</body>
</html>