<ul class="list-group list-group-flush">


{{#each todos}}
<li class="list-group-item">
  <div class="input-group">
    <div class="input-group-prepend">
      <form class="input-group-text" action="">
        <input type="checkbox" name="isDone" {{#if this.isDone}}checked{{/if}} disabled>
      </form>      
    </div>  

    <span class="form-control col-10 col-sm-8 col-md-6 col-lg-4 col-xl-4">{{this.name}}</span>
  
    <div class="input-group-append">
      <a class="btn btn-outline-secondary" href="/todos/{{ this.id }}">detail</a>

      <a class="btn btn-outline-secondary" href="/todos/{{ this.id }}/edit">edit</a>

      <form class="btn btn-outline-secondary" action="/todos/{{ this.id }}?_method=DELETE" method="POST">
        <button class="btnstyle-n" type="submit">delete</button>
      </form>     
    </div>
  </div>
 
</li>
{{/each}}
</ul>

