<form class="form-group" action="/todos" method="POST">

  <div class="input-group my-3 mx-3">
    
    <div class="input-group-prepend">
      <span class="input-group-text">
        <input type="checkbox" name="isDone">        
      </span>
    </div>

    <div class="input-group-append">
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="name">
    </div> 

  </div>
   
  <button type="submit" class="btn btn-primary mt-3 mx-3">
    Submit
  </button>

  <a href="/">
    <button type="button" class="btn mt-3">Go Back</button>
  </a>
  
</form>